<% if user_signed_in? %>
<%= simple_form_for(@bio) do |f| %>
  <%= f.error_notification %>

    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel2-1">Personal Info</a></dd>
      <dd><a href="#panel2-2">Physical / Strength</a></dd>
      <dd><a href="#panel2-3">School &amp; Academics</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="panel2-1">
        <div class="row">
            <div class="large-12 columns"><h2>Personal</h2></div>
            <div class="large-5 columns"><%= f.input :first_name %></div>
            <div class="large-5 columns"><%= f.input :last_name %></div>
            <div class="large-2 columns"><%= f.input :graduation_year %></div>
            <div class="large-4 columns"><%= f.input :image_link %></div>
            <div class="large-4 columns"><%= f.input :email %></div>
            <div class="large-4 columns"><%= f.input :phone %></div>
            <div class="large-12 columns"><%= f.input :bio_content %></div>
        </div>
      </div>
      <div class="content" id="panel2-2">
        <div class="row">
            <div class="large-12 columns"><h2>Physical</h2></div>
            <div class="large-3 columns"><%= f.input :height, label: 'Height (inches)' %></div>
            <div class="large-3 columns"><%= f.input :weight %></div>
            <div class="large-3 columns"><%= f.input :sprint_40_time, label: "40yd dash time" %></div>
            <div class="large-3 columns"><%= f.input :vertical_jump, label: "Vertical Jump (inches)" %></div>
            <div class="large-6 columns"><%= f.input :bench_press %></div>
            <div class="large-6 columns"><%= f.input :squat, label: "Leg Press" %></div>
        </div>   
      </div>
      <div class="content" id="panel2-3">
        <div class="row">
            <div class="large-12 columns"><h2>Academics</h2></div>
            <div class="large-3 columns"><%= f.input :GPA, label: "GPA" %></div>
            <div class="large-3 columns"><%= f.input :SAT_score, label: "SAT Score" %></div>
            <div class="large-3 columns"><%= f.input :ACT_score, label: "ACT Score" %></div>
            <div class="large-3 columns"><%= f.input :college_credits_earned %></div>
            <div class="large-12 columns"><%= f.input :clearing_house_cleared, label: "Clearing house cleared?" %></div>
            <div class="large-12 columns"><h2>School Information / Location</h2></div>
            <div class="large-4 columns"><%= f.input :school_name %></div>
            <div class="large-2 columns"><%= f.input :school_phone %></div>
            <div class="large-2 columns"><%= f.input :school_fax %></div>
            <div class="large-4 columns"><%= f.input :school_url %></div>
            <div class="large-4 columns"><%= f.input :school_street, label: "Street" %></div>
            <div class="large-4 columns"><%= f.input :school_city , label: "City" %></div>
            <div class="large-2 columns"><%= f.input :school_state, label: "State", collection: us_states %></div>
            <div class="large-2 columns"><%= f.input :school_zip, label: "Zip" %></div>
        </div> 
      </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<% else %>
<p class="label alert">You must be logged in to add or edit Field Goals.</p>
<% end %>

