<% provide(:title, kicker_name + " | Bio") %>
<% @bios.each do |bio| %>
    <div class="row">
        <div class="large-8 medium-8 columns">
            <h1><%= bio.first_name %> <%= bio.last_name %> <small>Bio</small></h1>
        </div>
        <div class="large-4 medium-4 columns">
            <a href="#" class="button expand" data-reveal-id="followModal">Follow <%= bio.first_name %></a>
            <div id="followModal" class="reveal-modal small" data-reveal>
              <h2>Follow <%= bio.first_name %> <%= bio.last_name %></h2>
              <p>GPA changes, SAT changes, highlight updates, new awards, significant changes to stats, etc.</p>

              <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>
    </div>
    <%= render("/shared/sub-nav") %>
    <div class="row">
        <div class="large-4 medium-6 columns text-center">
            <img src="<%= bio.image_link %>" class="img-responsive">
        </div>
        <div class="large-8 medium-6 columns">
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GPA</td>
                        <td><%= bio.GPA %></td>
                    </tr>
                    <tr>
                        <td>ACT</td>
                        <td><%= bio.ACT_score %></td>
                    </tr>
                    <tr>
                        <td>Graduation Year</td>
                        <td><%= bio.graduation_year %></td>
                    </tr>
                    <tr>
                        <td>SAT</td>
                        <td><%= bio.SAT_score %></td>
                    </tr>
                    <tr>
                        <td>College Credits</td>
                        <td><%= bio.college_credits_earned %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row hide-for-small-only">
        <div class="large-12 columns">
            <h2><i class="fa fa-bar-chart-o"></i> Stats</h2>
            <ul class="medium-block-grid-6 large-block-grid-6 text-center">
                <li>
                    <h4>Height</h4>
                    <%= bio.height %>"
                </li>
                <li>
                    <h4>Weight</h4>
                    <%= bio.weight %>lbs.
                </li>
                <li>
                    <h4>40yd Dash</h4>
                    <%= bio.sprint_40_time %>secs
                </li>
                <li>
                    <h4>Vertical</h4>
                    <%= bio.vertical_jump %>"
                </li>
                <li>
                    <h4>Leg Press</h4>
                    <%= bio.squat %>lbs.
                </li>
                <li>
                    <h4>Bench</h4>
                    <%= bio.bench_press %>lbs.
                </li>  
            </ul>
        </div>          
    </div>
    <div class="row text-center">
        <div class="large-3 medium-6 columns">
            <div class="panel">
                <p><strong>Total Points:</strong> </p>
                <h1><%= @total_points %></h1>
                <p>PATs: <%= @total_pats %> -  FGs: <%= @total_field_goals %></p>
            </div>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="panel">
                <p><strong>Field Goal Long:</strong></p>
                <h1><%= @field_goal_long %></h1>
                <p>FG Success: <%= @field_goal_percent %>%</p>
            </div>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="panel">
                <p><strong>Kickoff Long:</strong></p>
                <h1><%= @kickoff_long %></h1>
                <p>Avg KO: <%= @kickoff_avg %>yds</p>
            </div>
        </div>
        <div class="large-3 medium-6 columns">
            <div class="panel">
                <p><strong>Total Kickoff Yards:</strong></p>
                <h1><%= @total_kickoff_yards %></h1>
                <p>Touchbacks: <%= @touchback_percentage %>%</p>
            </div>
        </div>
        <div class="large-12 columns">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-centered columns">
             <strong>Bio:</strong> <%= bio.bio_content %>
        </div>
        <div class="large-12 columns">
            <hr>
        </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h2><i class="fa fa-trophy"></i> Honors &amp; Awards</h2>
        <table>
          <thead>
              <tr>
                <th>Date</th>
                <th>Award name</th>
                <% if user_signed_in? %>
                <th></th>
                <th></th>
                <% end %>
              </tr>
          </thead>
          <tbody>
              <% @awards.each do |award| %>
                <tr>
                  <td><%= l(award.date) %></td>
                  <td><%= award.award_name %></td>
                  <% if user_signed_in? %>
                  <td><%= link_to raw('<i class="fa fa-pencil"></i>'), edit_award_path(award), :class=> "button tiny expand" %></td>
                  <td><%= link_to raw('<i class="fa fa-times-circle"></i>'), award, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "button tiny expand" %></td>
                  <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
            <% if user_signed_in? %>
            <%= link_to 'New Award', new_award_path, :class => "button secondary" %>
            <% end %>
      </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h2><i class="fa fa-apple"></i> School Contact Info</h2>

            <div class="panel">
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <div class="fn"><strong><%= bio.school_name %></strong></div>
                        <div class="street-address"><%= bio.school_street %></div>
                        <div>
                            <span class="locality"><%= bio.school_city %></span>, <span class="state"><%= bio.school_state %></span>, <span class="zip"><%= bio.school_zip %></span>
                        </div>
                    </div>
                    <div class="large-6 medium-6 columns">
                        <p>
                            <strong>Phone:</strong> <a href="tel:<%= bio.school_phone %>"><%= bio.school_phone %></a><br>
                            <strong>Fax:</strong>  <%= bio.school_fax %>
                        </p>
                    </div>
                    <div class="large-2 medium-2 columns">
                        <a href="<%= bio.school_url %>" class="button expand">Website</a>
                        <a href="https://www.google.com/maps/preview#!q=<%= bio.school_street %>%2C+<%= bio.school_city %>%2C+<%= bio.school_state %>" target="_blank" class="button expand show-for-small-only">Directions</a>
                    </div>
                </div>
                <div class="row show-for-medium-up">
                    <div class="large-12 columns">
                        <hr>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x89e653629c38db6d%3A0x929ea2da73fa2973!2s<%= bio.school_street %>%2C+<%= bio.school_city %>%2C+<%= bio.school_state %>%2C+<%= bio.school_zip %>!5e0!3m2!1sen!2sus!4v1387244587724" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="large-12 columns">
            <h2><i class="fa fa-users"></i> References</h2>
            <table>
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <% if user_signed_in? %>
                    <th></th>
                    <th></th>
                    <% end %>
                  </tr>
              </thead>

              <tbody>
                  <% @references.each do |reference| %>
                    <tr>
                      <td><%= reference.reference_name %></td>
                      <td><%= reference.reference_title %></td>
                      <td><a href="mailto:<%= reference.reference_email %>"><%= reference.reference_email %></a></td>
                      <td><a href="tel:<%= reference.reference_phone %>"><%= reference.reference_phone %></a></td>
                      <% if user_signed_in? %>
                      <td><%= link_to raw('<i class="fa fa-pencil"></i>'), edit_reference_path(reference), :class=> "button tiny expand" %></td>
                      <td><%= link_to raw('<i class="fa fa-times-circle"></i>'), reference, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "button tiny expand" %></td>
                      <% end %>
                    </tr>
              </tbody>
            <% end %>
            </table>
            <% if user_signed_in? %>
            <%= link_to 'New Reference', new_reference_path, :class=> "button secondary" %>
            <% end %>
        </div>
    </div>
    <% if user_signed_in? %>
        <div class="row">
            <div class="large-12 columns">
                <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_bio_path(bio), :class => "button"  %>
            </div>
        </div>
    <% end %>
<% end %>

