<% provide(:title, kicker_name + " | Bio") %>
<% @bios.each do |bio| %>
    <div class="row">
        <div class="large-8 medium-8 columns">
            <h1><%= bio.first_name %> <%= bio.last_name %> <small>Bio</small></h1>
        </div>
        <div class="large-2 medium-2 columns">
            <a href="mailto:<%= bio.email %>" class="button expand">Email <%= bio.first_name %></a>
        </div>
        <div class="large-2 medium-2 columns">
            <a href="tel:<%= bio.phone %>" class="button expand"><%= bio.phone %></a>
        </div>
    </div>
    <div class="row">
        <div class="large-5 columns">
            <img src="<%= bio.image_link %>" class="img-responsive">
        </div>
        <div class="large-7 columns">
            <h3 class="subheader"><%= bio.first_name %> <%= bio.last_name %> <small>Academic Info</small></h3>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GPA</td>
                        <td><%= bio.GPA %></td>
                    </tr>
                    <tr>
                        <td>ACT</td>
                        <td><%= bio.ACT_score %></td>
                    </tr>
                    <tr>
                        <td>Graduation Year</td>
                        <td><%= bio.graduation_year %></td>
                    </tr>
                    <tr>
                        <td>SAT</td>
                        <td><%= bio.SAT_score %></td>
                    </tr>
                    <tr>
                        <td>College Credits</td>
                        <td><%= bio.college_credits_earned %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <%= bio.bio_content %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h2>Physical</h2>
        </div>
        <div class="large-12 columns">
            <ul class="large-block-grid-3 small-block-grid-1 medium-block-grid-3">
                <li class="text-center">
                    <div class="panel">
                        <h4>Height</h4>
                        <p><%= bio.height %>"</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>Weight</h4>
                        <p><%= bio.weight %>lbs.</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>40yd Dash</h4>
                        <p><%= bio.sprint_40_time %>secs</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>Vertical Jump</h4>
                        <p><%= bio.vertical_jump %>"</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>Bench Press</h4>
                        <p><%= bio.bench_press %>lbs.</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>Squat</h4>
                        <p><%= bio.squat %>lbs.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h2>School Info</h2>
            <div class="panel">
                <div class="row">
                    <div class="large-4 columns">
                        <div class="fn"><strong><%= bio.school_name %></strong></div>
                        <div class="street-address"><%= bio.school_street %></div>
                        <div>
                            <span class="locality"><%= bio.school_city %></span>, <span class="state"><%= bio.school_state %></span>, <span class="zip"><%= bio.school_zip %></span>
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <strong>Phone:</strong> <a href="tel:<%= bio.school_phone %>"><%= bio.school_phone %></a><br>
                        <strong>Fax:</strong> <%= bio.school_fax %>
                    </div>
                    <div class="large-2 columns">
                        <a href="<%= bio.school_url %>" class="button expand">Website</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-12 columns">
            <h2>Contacts / References</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <td>Name</td>
                        <th>Phone Number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Guidance Counselor</td>
                        <td><%= bio.school_counselor_name %></td>
                        <td><a href="tel:<%= bio.school_counselor_phone %>"><%= bio.school_counselor_phone %></a></td>
                        <td><a href="mailto:<%= bio.school_counselor_email %>" class="button tiny expand">Email</a></td>
                    </tr>
                    <tr>
                        <td>Head Coach</td>
                        <td><%= bio.team_head_coach %></td>
                        <td><a href="tel:<%= bio.team_head_coach_phone %>"><%= bio.team_head_coach_phone %></a></td>
                        <td><a href="mailto:<%= bio.team_head_coach_email %>" class="button tiny expand">Email</a></td>
                    </tr>
                    <tr>
                        <td>Kicking Coach</td>
                        <td><%= bio.primary_kicking_coach %></td>
                        <td><a href="tel:<%= bio.primary_kicking_coach_phone %>"><%= bio.primary_kicking_coach_phone %></a></td>
                        <td><a href="mailto:<%= bio.primary_kicking_coach_email %>" class="button tiny expand">Email</a></td>
                    </tr>
                    <tr>
                        <td>Special Teams Coach</td>
                        <td><%= bio.team_special_teams_coach %></td>
                        <td><a href="tel:<%= bio.team_special_teams_coach_phone %>"><%= bio.team_special_teams_coach_phone %></a> </td>
                        <td><a href="mailto:<%= bio.team_special_teams_coach_email %>" class="button tiny expand">Email</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% if user_signed_in? %>
        <div class="row">
            <div class="large-12 columns">
                <%= link_to 'Edit', edit_bio_path(bio), :class => "button"  %>
            </div>
        </div>
    <% end %>
<% end %>

