<% provide(:title, kicker_name + " | Bio") %>
<% @bios.each do |bio| %>
    <!-- <div class="hide-for-small-only">
        <ul class="example-orbit" data-orbit>
            <% @image_sliders.each do |image_slider| %>
                <li>
                  <img src="<%= image_slider.image_link %>" class="img-responsive" alt="<%= image_slider.alt_tag %>">
                  <div class="orbit-caption">
                    <%= image_slider.caption %>
                  </div>
                </li>
            <% end %>
        </ul>
    </div> -->
    <div class="row">
        <div class="large-8 medium-8 columns">
            <h1><%= bio.first_name %> <%= bio.last_name %> <small>Bio</small></h1>
        </div>
        <div class="large-2 medium-2 columns">
            <a href="mailto:<%= bio.email %>" class="button expand">Email <%= bio.first_name %></a>
        </div>
        <div class="large-2 medium-2 columns">
            <a href="tel:<%= bio.phone %>" class="button expand"><%= bio.phone %></a>
        </div>
    </div>
    <%= render("/shared/sub-nav") %>
    <div class="row">
        <div class="large-5 columns text-center">
            <img src="<%= bio.image_link %>" class="img-responsive">
        </div>
        <div class="large-7 columns">
            <h3 class="subheader"><%= bio.first_name %> <%= bio.last_name %> <small>Academic Info</small></h3>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GPA</td>
                        <td><%= bio.GPA %></td>
                    </tr>
                    <tr>
                        <td>ACT</td>
                        <td><%= bio.ACT_score %></td>
                    </tr>
                    <tr>
                        <td>Graduation Year</td>
                        <td><%= bio.graduation_year %></td>
                    </tr>
                    <tr>
                        <td>SAT</td>
                        <td><%= bio.SAT_score %></td>
                    </tr>
                    <tr>
                        <td>College Credits</td>
                        <td><%= bio.college_credits_earned %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <%= bio.bio_content %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h2>Physical</h2>
        </div>
        <div class="large-12 columns">
            <ul class="large-block-grid-3 small-block-grid-1 medium-block-grid-3">
                <li class="text-center">
                    <div class="panel">
                        <h4>Height</h4>
                        <p><%= bio.height %>"</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>Weight</h4>
                        <p><%= bio.weight %>lbs.</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>40yd Dash</h4>
                        <p><%= bio.sprint_40_time %>secs</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>Vertical Jump</h4>
                        <p><%= bio.vertical_jump %>"</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>Bench Press</h4>
                        <p><%= bio.bench_press %>lbs.</p>
                    </div>
                </li>
                <li class="text-center">
                    <div class="panel">
                        <h4>Leg Press</h4>
                        <p><%= bio.squat %>lbs.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h2>Honors &amp; Awards</h2>
        <table>
          <thead>
              <tr>
                <th>Date</th>
                <th>Award name</th>
                <% if user_signed_in? %>
                <th></th>
                <th></th>
                <% end %>
              </tr>
          </thead>
          <tbody>
              <% @awards.each do |award| %>
                <tr>
                  <td><%= l(award.date) %></td>
                  <td><%= award.award_name %></td>
                  <% if user_signed_in? %>
                  <td><%= link_to 'Edit', edit_award_path(award), :class=> "button tiny expand" %></td>
                  <td><%= link_to 'Destroy', award, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "button tiny expand" %></td>
                  <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
            <% if user_signed_in? %>
            <%= link_to 'New Award', new_award_path, :class => "button secondary" %>
            <% end %>
      </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h2>School Contact Info</h2>

            <div class="panel">
                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <div class="fn"><strong><%= bio.school_name %></strong></div>
                        <div class="street-address"><%= bio.school_street %></div>
                        <div>
                            <span class="locality"><%= bio.school_city %></span>, <span class="state"><%= bio.school_state %></span>, <span class="zip"><%= bio.school_zip %></span>
                        </div>
                    </div>
                    <div class="large-6 medium-6 columns">
                        <p>
                            <strong>Phone:</strong> <a href="tel:<%= bio.school_phone %>"><%= bio.school_phone %></a><br>
                            <strong>Fax:</strong>  <%= bio.school_fax %>
                        </p>
                    </div>
                    <div class="large-2 medium-2 columns">
                        <a href="<%= bio.school_url %>" class="button expand">Website</a>
                        <a href="https://www.google.com/maps/preview#!q=<%= bio.school_street %>%2C+<%= bio.school_city %>%2C+<%= bio.school_state %>" target="_blank" class="button expand show-for-small-only">Directions</a>
                    </div>
                </div>
                <div class="row show-for-medium-up">
                    <div class="large-12 columns">
                        <hr>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x89e653629c38db6d%3A0x929ea2da73fa2973!2s<%= bio.school_street %>%2C+<%= bio.school_city %>%2C+<%= bio.school_state %>%2C+<%= bio.school_zip %>!5e0!3m2!1sen!2sus!4v1387244587724" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="large-12 columns">
            <h2>References</h2>
            <table>
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <% if user_signed_in? %>
                    <th></th>
                    <th></th>
                    <% end %>
                  </tr>
              </thead>

              <tbody>
                  <% @references.each do |reference| %>
                    <tr>
                      <td><%= reference.reference_name %></td>
                      <td><%= reference.reference_title %></td>
                      <td><a href="mailto:<%= reference.reference_email %>"><%= reference.reference_email %></a></td>
                      <td><a href="tel:<%= reference.reference_phone %>"><%= reference.reference_phone %></a></td>
                      <% if user_signed_in? %>
                      <td><%= link_to 'Edit', edit_reference_path(reference), :class=> "button tiny expand" %></td>
                      <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "button tiny expand" %></td>
                      <% end %>
                    </tr>
              </tbody>
            <% end %>
            </table>
            <% if user_signed_in? %>
            <%= link_to 'New Reference', new_reference_path, :class=> "button secondary" %>
            <% end %>
        </div>
    </div>
    <% if user_signed_in? %>
        <div class="row">
            <div class="large-12 columns">
                <%= link_to 'Edit', edit_bio_path(bio), :class => "button"  %>
            </div>
        </div>
    <% end %>
<% end %>

