<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @bio.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @bio.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @bio.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @bio.phone %>
</p>

<p>
  <b>Bio content:</b>
  <%= @bio.bio_content %>
</p>

<p>
  <b>Graduation year:</b>
  <%= @bio.graduation_year %>
</p>

<p>
  <b>Height:</b>
  <%= @bio.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @bio.weight %>
</p>

<p>
  <b>Sprint 40 time:</b>
  <%= @bio.sprint_40_time %>
</p>

<p>
  <b>Vertical jump:</b>
  <%= @bio.vertical_jump %>
</p>

<p>
  <b>Bench press:</b>
  <%= @bio.bench_press %>
</p>

<p>
  <b>Squat:</b>
  <%= @bio.squat %>
</p>

<p>
  <b>Gpa:</b>
  <%= @bio.GPA %>
</p>

<p>
  <b>Sat score:</b>
  <%= @bio.SAT_score %>
</p>

<p>
  <b>Act score:</b>
  <%= @bio.ACT_score %>
</p>

<p>
  <b>College credits earned:</b>
  <%= @bio.college_credits_earned %>
</p>

<p>
  <b>Image link:</b>
  <%= @bio.image_link %>
</p>

<p>
  <b>School name:</b>
  <%= @bio.school_name %>
</p>

<p>
  <b>School url:</b>
  <%= @bio.school_url %>
</p>

<p>
  <b>School street:</b>
  <%= @bio.school_street %>
</p>

<p>
  <b>School city:</b>
  <%= @bio.school_city %>
</p>

<p>
  <b>School state:</b>
  <%= @bio.school_state %>
</p>

<p>
  <b>School zip:</b>
  <%= @bio.school_zip %>
</p>

<p>
  <b>Team head coach:</b>
  <%= @bio.team_head_coach %>
</p>

<p>
  <b>Team head coach phone:</b>
  <%= @bio.team_head_coach_phone %>
</p>

<p>
  <b>Team head coach email:</b>
  <%= @bio.team_head_coach_email %>
</p>

<p>
  <b>Team special teams coach:</b>
  <%= @bio.team_special_teams_coach %>
</p>

<p>
  <b>Primary kicking coach:</b>
  <%= @bio.primary_kicking_coach %>
</p>

<p>
  <b>Clearing house cleared:</b>
  <%= @bio.clearing_house_cleared %>
</p>


<%= link_to 'Edit', edit_bio_path(@bio) %> |
<%= link_to 'Back', bios_path %>
