<div class="row">
	<div class="large-12 columns">
		<h1>Admin</h1>
	</div>
</div>
<%= render("/shared/sub-nav") %>
<div class="row">
	<div class="large-12 columns">
		
		<ul class="large-block-grid-4 medium-block-grid-4 small-block-grid-1">
			<li><%= link_to "Banner Images", image_sliders_path, :class => "button expand" %></li>
			<li><%= link_to "Security", edit_user_registration_path, :class => "button expand" %></li>
			<li><%= link_to 'Bio', bios_path, :class => "button expand" %></li>
			<li><%= link_to 'Awards', awards_path, :class => "button expand" %></li>
			<li><%= link_to 'References', references_path, :class => "button expand" %></li>
			<li><%= link_to 'College Wish List', college_wish_lists_path, :class => "button expand" %></li>
		</ul>
	</div>
	<div class="large-12 columns">
		<h1>Stats</h1>
		<h2>Quick Add</h2>
		<ul class="large-block-grid-4 medium-block-grid-4 small-block-grid-1">
			<li><%= link_to "Add Kickoff", new_kickoff_path, :class => "button expand" %></li>
			<li><%= link_to "Add Field Goal", new_field_goal_path, :class => "button expand" %></li>
			<li><%= link_to "Add PAT", new_point_after_attempt_path, :class => "button expand" %></li>
			<li><%= link_to "Add Punt", new_punt_path, :class => "button expand" %></li>
		</ul>
	</div>
</div>