<div class="hide-for-small-only">
	<ul class="example-orbit" data-orbit>
		<li>
		  <img src="https://dl.dropboxusercontent.com/u/39806773/kicker/1.jpg" alt="slide 1" />
		  <div class="orbit-caption">
		    200+ High School Career Points
		  </div>
		</li>
		<li>
		  <img src="https://dl.dropboxusercontent.com/u/39806773/kicker/2.jpg" alt="slide 2" />
		  <div class="orbit-caption">
		    All Conference, All State
		  </div>
		</li>
	</ul>
</div>
<div class="show-for-small-only">
	<img src="https://dl.dropboxusercontent.com/u/39806773/kicker/chase-bio-pic.jpg" class="img-responsive">
</div>
<div class="row">
	<div class="large-12 columns text-center">
		<h1>Kicker's Name <br class="show-for-small-only"><small>Kicking Prospect</small></h1>
	</div>
</div>
<div class="row text-center">
	<div class="large-3 columns">
		<div class="panel">
			<p><strong>Total Points:</strong> </p>
			<h1><%= @total_points %></h1>
			<p>PATs: <%= @total_pats %> -  FGs: <%= @total_field_goals %></p>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel">
			<p><strong>Field Goal Long:</strong></p>
			<h1><%= @field_goal_long %></h1>
			<p>FG Success: <%= @field_goal_percent %>%</p>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel">
			<p><strong>Kickoff Long:</strong></p>
			<h1><%= @kickoff_long %></h1>
			<p>Avg KO: <%= @kickoff_avg %>yds</p>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel">
			<p><strong>Total Kickoff Yards:</strong></p>
			<h1><%= @total_kickoff_yards %></h1>
			<p>Touchbacks: <%= @touchback_percentage %>%</p>
		</div>
	</div>
</div>




