<h1>Kicker's Name</h1>

<div class="row text-center">
	<div class="col-md-3">
		<div class="jumbotron">
			<p><strong>Total Field Goals:</strong> </p>
			<h1><%= @total_field_goals %></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<p><strong>Field Goal Long:</strong></p>
			<h1><%= @field_goal_long %></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<p><strong>Total Kickoff Yards:</strong></p>
			<h1><%= @total_kickoff_yards %></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<p><strong>Kickoff Long:</strong></p>
			<h1><%= @kickoff_long %></h1>
		</div>
	</div>
</div>
<hr>
<h1>Quick Add</h1>
<p>This will show up only if you're logged in.</p>
<div class="row">
	<div class="col-md-3">
		<%= link_to "Add Kickoff", new_kickoff_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add Field Goal", new_field_goal_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add PAT", new_point_after_attempt_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add Punt", new_punt_path, :class => "btn btn-default btn-block" %>
	</div>
</div>




