<ul class="example-orbit hide-for-small-only" data-orbit>
	<li>
	  <img src="http://placehold.it/1800x640/666/fff" alt="slide 1" />
	  <div class="orbit-caption">
	    200+ High School Career Points
	  </div>
	</li>
	<li>
	  <img src="http://placehold.it/1800x640/666/fff" alt="slide 2" />
	  <div class="orbit-caption">
	    All Conference, All State
	  </div>
	</li>
	<li>
	  <img src="http://placehold.it/1800x640/666/fff" alt="slide 3" />
	  <div class="orbit-caption">
	    Special Teams Player of the Year for Four Years
	  </div>
	</li>
</ul>
<div class="row text-center">
	<div class="large-3 columns">
		<div class="panel">
			<p><strong>Total Points:</strong> </p>
			<h1><%= @total_points %></h1>
			<p>PATs: <%= @total_pats %> -  FGs: <%= @total_field_goals %></p>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel">
			<p><strong>Field Goal Long:</strong></p>
			<h1><%= @field_goal_long %></h1>
			<p>FG Success: <%= @field_goal_percent %>%</p>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel">
			<p><strong>Kickoff Long:</strong></p>
			<h1><%= @kickoff_long %></h1>
			<p>Avg Hangtime: </p>
		</div>
	</div>
	<div class="large-3 columns">
		<div class="panel">
			<p><strong>Total Kickoff Yards:</strong></p>
			<h1><%= @total_kickoff_yards %></h1>
			<p>Touchbacks: <%= @touchback_percentage %>%</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<h1>Quick Add</h1>
		<p>This will show up only if you're logged in.</p>
	</div>
</div>
	
<div class="row">
	<div class="large-3 columns">
		<%= link_to "Add Kickoff", new_kickoff_path, :class => "button secondary expand" %>
	</div>
	<div class="large-3 columns">
		<%= link_to "Add Field Goal", new_field_goal_path, :class => "button secondary expand" %>
	</div>
	<div class="large-3 columns">
		<%= link_to "Add PAT", new_point_after_attempt_path, :class => "button secondary expand" %>
	</div>
	<div class="large-3 columns">
		<%= link_to "Add Punt", new_punt_path, :class => "button secondary expand" %>
	</div>
</div>




