<% provide(:title, kicker_name + " | Kicker") %>
<div class="hide-for-small-only">
	<ul class="example-orbit" data-orbit>
		<% @image_sliders.each do |image_slider| %>
			<li>
			  <img src="<%= image_slider.image_link %>" class="img-responsive" alt="<%= image_slider.alt_tag %>">
			  <div class="orbit-caption">
			    <%= image_slider.caption %>
			  </div>
			</li>
		<% end %>
	</ul>
</div>
<div class="show-for-small-only">
	<% @bios.each do |bio| %>
		<img src="<%= bio.image_link %>" class="img-responsive">
	<% end %>
</div>
<div class="row">
	<div class="large-12 columns text-center">
		<h1><%= kicker_name %> <br class="show-for-small-only"><small>Kicking Prospect</small></h1>
	</div>
</div>
<div class="row text-center">
	<div class="large-3 medium-6 columns">
		<div class="panel">
			<p><strong>Total Points:</strong> </p>
			<h1><%= @total_points %></h1>
			<p>PATs: <%= @total_pats %> -  FGs: <%= @total_field_goals %></p>
		</div>
	</div>
	<div class="large-3 medium-6 columns">
		<div class="panel">
			<p><strong>Field Goal Long:</strong></p>
			<h1><%= @field_goal_long %></h1>
			<p>FG Success: <%= @field_goal_percent %>%</p>
		</div>
	</div>
	<div class="large-3 medium-6 columns">
		<div class="panel">
			<p><strong>Kickoff Long:</strong></p>
			<h1><%= @kickoff_long %></h1>
			<p>Avg KO: <%= @kickoff_avg %>yds</p>
		</div>
	</div>
	<div class="large-3 medium-6 columns">
		<div class="panel">
			<p><strong>Total Kickoff Yards:</strong></p>
			<h1><%= @total_kickoff_yards %></h1>
			<p>Touchbacks: <%= @touchback_percentage %>%</p>
		</div>
	</div>
</div>




