<h1>Kicker's Name</h1>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://media.columbiamissourian.com/multimedia/2010/09/25/media/092510_FootballPlacekicker_01_t_w600_h3000.jpg" alt="...">
      <div class="carousel-caption">
        Some content
      </div>
    </div>
    <div class="item active">
      <img src="http://media.columbiamissourian.com/multimedia/2010/09/25/media/092510_FootballPlacekicker_01_t_w600_h3000.jpg" alt="...">
      <div class="carousel-caption">
        Some content
      </div>
    </div>
    <div class="item active">
      <img src="http://media.columbiamissourian.com/multimedia/2010/09/25/media/092510_FootballPlacekicker_01_t_w600_h3000.jpg" alt="...">
      <div class="carousel-caption">
        Some content
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="row text-center">
	<div class="col-md-3">
		<div class="jumbotron">
			<p><strong>Total Points:</strong> </p>
			<h1><%= @total_points %></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<p><strong>Field Goal Long:</strong></p>
			<h1><%= @field_goal_long %></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<p><strong>Kickoff Long:</strong></p>
			<h1><%= @kickoff_long %></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<p><strong>Total Kickoff Yards:</strong></p>
			<h1><%= @total_kickoff_yards %></h1>
		</div>
	</div>
	
</div>
<hr>
<h1>Quick Add</h1>
<p>This will show up only if you're logged in.</p>
<div class="row">
	<div class="col-md-3">
		<%= link_to "Add Kickoff", new_kickoff_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add Field Goal", new_field_goal_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add PAT", new_point_after_attempt_path, :class => "btn btn-default btn-block" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Add Punt", new_punt_path, :class => "btn btn-default btn-block" %>
	</div>
</div>




