<% provide(:title, "iKick.it, Kicker List") %>
<div class="row">
	<div class="large-9 columns">
		<h1>Kicker List</h1>
	</div>
	<div class="large-3 columns">
		<a href="#" class="button expand" data-reveal-id="searchModal"><i class="fa fa-search"></i> Advanced Search</a>
		<div id="searchModal" class="reveal-modal small" data-reveal>
		  <h2>Search for Kicker By:</h2>
		  <ul class="inline-list">
		  	<li>TB%</li>
		  	<li>FG%</li>
		  	<li>Punt Avg.</li>
		  	<li>SAT Score</li>
		  	<li>GPA Score</li>
		  </ul>

		  <a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<h2>Kickoffs <small>Top 2</small></h2>
			<div class="row">
				<div class="large-6 columns"><%= link_to image_tag("https://dl.dropboxusercontent.com/u/39806773/kicker/chase-bio-pic.jpg"), bios_path, :class=> "img-responsive" %></div>
				<div class="large-6 columns">
					<p><strong><%= kicker_name %></strong><br>TB Avg: 99%</p>
					<%= link_to "Bio", bios_path, :class=> "button tiny" %>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<hr>
				</div>
				<div class="large-6 columns"><%= link_to image_tag("https://dl.dropboxusercontent.com/u/39806773/kicker/chase-bio-pic.jpg"), bios_path, :class=> "img-responsive" %></div>
				<div class="large-6 columns">
					<p><strong><%= kicker_name %></strong><br>TB Avg: 99%</p>
					<%= link_to "Bio", bios_path, :class=> "button tiny" %>
				</div>
			</div>
	</div>
	<div class="large-4 columns">
		<h2>Field Goals <small>Top 2</small></h2>
		<div class="row">
				<div class="large-6 columns">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/u/39806773/kicker/chase-bio-pic.jpg"), bios_path, :class=> "img-responsive" %>
					</div>
				<div class="large-6 columns">
					<p><strong><%= kicker_name %></strong><br>FG Avg: 99%</p>
					<%= link_to "Bio", bios_path, :class=> "button tiny" %>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<hr>
				</div>
				<div class="large-6 columns"><%= link_to image_tag("https://dl.dropboxusercontent.com/u/39806773/kicker/chase-bio-pic.jpg"), bios_path, :class=> "img-responsive" %></div>
				<div class="large-6 columns">
					<p><strong><%= kicker_name %></strong><br>FG Avg: 99%</p>
					<%= link_to "Bio", bios_path, :class=> "button tiny" %>
				</div>
			</div>
	</div>
	<div class="large-4 columns">
		<h2>Punts <small>Top 2</small></h2>
		<div class="row">
			<div class="large-6 columns"><%= link_to image_tag("https://dl.dropboxusercontent.com/u/39806773/kicker/chase-bio-pic.jpg"), bios_path, :class=> "img-responsive" %></div>
			<div class="large-6 columns">
				<p><strong><%= kicker_name %></strong><br>Punt Avg: 49yds</p>
					<%= link_to "Bio", bios_path, :class=> "button tiny" %>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<hr>
			</div>
			<div class="large-6 columns"><%= link_to image_tag("https://dl.dropboxusercontent.com/u/39806773/kicker/chase-bio-pic.jpg"), bios_path, :class=> "img-responsive" %></div>
			<div class="large-6 columns">
				<p><strong><%= kicker_name %></strong><br>Punt Avg: 49yds</p>
					<%= link_to "Bio", bios_path, :class=> "button tiny" %>
			</div>
		</div>
	</div>
</div>