<% provide(:title, kicker_name + " | Kicker") %>
<div class="show-for-small-only">
	<% @bios.each do |bio| %>
		<img src="<%= bio.image_link %>" class="img-responsive">
	<% end %>
</div>
<div class="row">
	<div class="large-12 columns">
		<h1><%= kicker_name %> <small>Kicking Stats</small></h1>
	</div>
</div>
<%= render("/shared/sub-nav") %>

<div class="row text-center">
	<div class="large-3 medium-6 columns">
		<div class="panel">
			<p><strong>Total Points:</strong> </p>
			<h1><%= @total_points %></h1>
			<p>PATs: <%= @total_pats %> -  FGs: <%= @total_field_goals %></p>
		</div>
	</div>
	<div class="large-3 medium-6 columns">
		<div class="panel">
			<p><strong>Field Goal Long:</strong></p>
			<h1><%= @field_goal_long %></h1>
			<p>FG Success: <%= @field_goal_percent %>%</p>
		</div>
	</div>
	<div class="large-3 medium-6 columns">
		<div class="panel">
			<p><strong>Kickoff Long:</strong></p>
			<h1><%= @kickoff_long %></h1>
			<p>Avg KO: <%= @kickoff_avg %>yds</p>
		</div>
	</div>
	<div class="large-3 medium-6 columns">
		<div class="panel">
			<p><strong>Total Kickoff Yards:</strong></p>
			<h1><%= @total_kickoff_yards %></h1>
			<p>Touchbacks: <%= @touchback_percentage %>%</p>
		</div>
	</div>
</div>




