<%= simple_form_for(@kickoff) do |f| %>
  <% if @kickoff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kickoff.errors.count, "error") %> prohibited this kickoff from being saved:</h2>
      <ul>
      <% @kickoff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :date %>
  <%= f.input :distance, label: "Distance (yards)" %>
  <%= f.input :hangtime %>
  <%= f.submit 'Submit', :class => "button expand" %>
<% end %>
