<div class="row">
  <div class="large-12 columns">
    <h1>Kickoff <small>Stats</small></h1>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <strong>Kickoff Total Yards:</strong> <%= @total_yards %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <strong>Kickoff Long:</strong> <%= @kickoff_long %> yards
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <strong>Kickoff Average:</strong> <%= @kickoff_average%> yards
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr> 
          <th>Date</th>
          <th>Distance</th>
          <th>Hangtime</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @kickoffs.each do |kickoff| %>
          <tr>
            <td><%= kickoff.date %></td>
            <td><%= kickoff.distance %></td>
            <td><%= kickoff.hangtime %></td>
            <td><%= link_to 'Edit', edit_kickoff_path(kickoff), :class => "button secondary tiny"  %></td>
            <td><%= link_to 'Destroy', kickoff, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button secondary tiny"  %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
    <%= link_to 'New Kickoff', new_kickoff_path, :class => "button secondary" %>
  </div>
</div>


