<%= form_for(@point_after_attempt) do |f| %>
  <% if @point_after_attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point_after_attempt.errors.count, "error") %> prohibited this point_after_attempt from being saved:</h2>

      <ul>
      <% @point_after_attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div>
    <%= f.check_box :is_good %>
    <%= f.label :is_good, "PAT Good?" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => "button expand" %>
  </div>
<% end %>
