<% if user_signed_in? %>
<%= simple_form_for(@point_after_attempt) do |f| %>
  <% if @point_after_attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point_after_attempt.errors.count, "error") %> prohibited this point_after_attempt from being saved:</h2>

      <ul>
      <% @point_after_attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :date %>
  <%= f.input :is_good, label: "PAT Good?" %>
  <%= f.submit 'Submit', :class => "button expand" %>
<% end %>
<% else %>
<p class="label alert">You must be logged in to add or edit PATs.</p>
<% end %>
