<div class="row">
  <div class="large-6 columns">
    <h1>PAT <small>Stats</small></h1>
  </div>
  <div class="large-6 columns text-right">
    <% if user_signed_in? %>
      <%= link_to 'New PAT', new_point_after_attempt_path, :class => "button secondary tiny" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <div class="panel">
      <strong>PAT Points:</strong> <%= @totalpoints %>
    </div>
  </div> 
  <div class="large-6 columns">
     <div class="panel">
       <strong>PAT Success:</strong> <%= @pat_percent %>%
     </div>
   </div> 
</div>
<div class="row">
  <div class="large-12 columns">
    <table class="table table-striped table-responsive table-condensed">
      <thead>
        <tr>
        <th>Date</th>
        <th>PAT Good?</th>
        <% if user_signed_in? %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
        <% @point_after_attempts.each do |point_after_attempt| %>
      <tr>
        <td><%= point_after_attempt.date %></td>
        <td><%= point_after_attempt.is_good ? 'Yes' : 'No'  %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_point_after_attempt_path(point_after_attempt), :class => "button secondary tiny"  %></td>
          <td><%= link_to 'Remove', point_after_attempt, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button secondary tiny"  %></td>
        <% end %>
      </tr>
    <% end %>
      </tbody>
    </table>
    <% if user_signed_in? %>
      <%= link_to 'New PAT', new_point_after_attempt_path, :class => "button secondary" %>
    <% end %>
  </div>
</div>
