<%= simple_form_for(@field_goal) do |f| %>
  <% if @field_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field_goal.errors.count, "error") %> prohibited this field_goal from being saved:</h2>

      <ul>
      <% @field_goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :date %>
  <%= f.input :distance, label: 'Distance (yards)', error: 'Distance is missing.' %>
  <%= f.input :is_good, label: 'Field Goal Good?' %>
  <%= f.submit 'Submit', :class => "button expand" %>
<% end %>
