<%= form_for(@field_goal) do |f| %>
  <% if @field_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field_goal.errors.count, "error") %> prohibited this field_goal from being saved:</h2>

      <ul>
      <% @field_goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :distance %><br />
    <%= f.number_field :distance %>
  </div>
  <div class="field">
    <%= f.label :is_good %><br />
    <%= f.check_box :is_good %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => "btn btn-primary btn-sm" %>
  </div>
<% end %>
