<div class="row">
  <div class="large-12 columns">
    <h1>Field Goals</h1>
  </div>
</div>


<div class="row">
  <div class="large-6 columns">
    <div class="panel">
      <strong>Field Goal Points:</strong> <%= @totalpoints %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="panel">
      <strong>Field Goal Long:</strong> <%= @max_distance %> yards
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Distance</th>
        <th>FG Good?</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @field_goals.each do |field_goal| %>
        <tr>
          <td><%= field_goal.date %></td>
          <td><%= field_goal.distance %></td>
          <td><%= field_goal.is_good  ? 'Yes' : 'No' %></td>
          <td><%= link_to 'Show', field_goal, :class => "button secondary tiny"  %></td>
          <td><%= link_to 'Edit', edit_field_goal_path(field_goal), :class => "button secondary tiny"  %></td>
          <td><%= link_to 'Destroy', field_goal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button secondary tiny"  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Field goal', new_field_goal_path, :class => "button secondary" %>
  </div>
</div>




