<% provide(:title, kicker_name + " | Field Goal Stats") %>
<div class="row">
  <div class="large-10 medium-10 columns">
    <h1>Field Goal <small>Stats</small></h1>
  </div>
  <div class="large-2 medium-2 columns">
    <% if user_signed_in? %>
    <%= link_to 'New Field Goal', new_field_goal_path, :class => "button expand" %>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="large-4 columns">
    <div class="panel">
      <strong>Field Goal Points:</strong> <%= @totalpoints %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <strong>Field Goal Success:</strong> <%= @field_goal_percent %>%
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <strong>Field Goal Long:</strong> <%= @max_distance %> yards
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Distance</th>
        <th>FG Good?</th>
        <% if user_signed_in? %>
        <th></th>
        <th></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% @field_goals.each do |field_goal| %>
        <tr>
          <td><%= l(field_goal.date) %></td>
          <td><%= field_goal.distance %></td>
          <td><%= field_goal.is_good  ? 'Yes' : 'No' %></td>
          <% if user_signed_in? %>
          <td><%= link_to raw('<i class="fa fa-pencil"></i>'), edit_field_goal_path(field_goal), :class => "button tiny expand"  %></td>
          <td><%= link_to raw('<i class="fa fa-times-circle"></i>'), field_goal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button tiny expand"  %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% if user_signed_in? %>
    <%= link_to 'New Field Goal', new_field_goal_path, :class => "button secondary" %>
    <% end %>
  </div>
</div>




