<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @field_goal.date %>
</p>

<p>
  <b>Distance:</b>
  <%= @field_goal.distance %>
</p>

<p>
  <b>Is good:</b>
  <%= @field_goal.is_good %>
</p>


<%= link_to 'Edit', edit_field_goal_path(@field_goal), :class => "btn btn-default btn-sm"  %>
<%= link_to 'Back', field_goals_path , :class => "btn btn-default btn-sm" %>
