<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h1><%= @field_goal.distance %>yd Field Goal <small>Submitted</small></h1>
			<p>The <strong><%= @field_goal.distance %>yd field goal</strong> you kicked on <%= @field_goal.date %> has been logged.</p>
			<%= link_to 'Edit', edit_field_goal_path(@field_goal), :class => "button secondary"  %>
			<%= link_to 'Back to Field Goal Stats', field_goals_path, :class => "button secondary"  %>
		</div>
	</div>
</div>