<div class="row">
  <div class="large12 columns">
    <h1>Listing references</h1>

    <table>
      <thead>
        <tr>
          <th>Reference name</th>
          <th>Reference title</th>
          <th>Reference email</th>
          <th>Reference phone</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @references.each do |reference| %>
          <tr>
            <td><%= reference.reference_name %></td>
            <td><%= reference.reference_title %></td>
            <td><%= reference.reference_email %></td>
            <td><%= reference.reference_phone %></td>
            <td><%= link_to 'Show', reference %></td>
            <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
            <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <%= link_to 'New Reference', new_reference_path, :class=> "button secondary" %>
  </div>
</div>
