<div class="row">
  <div class="large12 columns">
    <h1>References</h1>

    <table>
      <thead>
        <tr>
          <th>Reference name</th>
          <th>Reference title</th>
          <th>Reference email</th>
          <th>Reference phone</th>
          <% if user_signed_in? %>
          <th></th>
          <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @references.each do |reference| %>
          <tr>
            <td><%= reference.reference_name %></td>
            <td><%= reference.reference_title %></td>
            <td><a href="mailto:<%= reference.reference_email %>"><%= reference.reference_email %></a></td>
            <td><a href="tel:<%= reference.reference_phone %>"><%= reference.reference_phone %></a></td>
            <% if user_signed_in? %>
            <td><%= link_to raw('<i class="fa fa-pencil"></i>'), edit_reference_path(reference), :class => "button tiny expand" %></td>
            <td><%= link_to raw('<i class="fa fa-times-circle"></i>'), reference, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button tiny expand" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>


    <%= link_to 'New Reference', new_reference_path, :class=> "button secondary" %>
  </div>
</div>
