<%= form_for(@punt) do |f| %>
  <% if @punt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@punt.errors.count, "error") %> prohibited this punt from being saved:</h2>

      <ul>
      <% @punt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date %><br />
    <%= f.date_select :date, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :distance %><br />
    <%= f.number_field :distance, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :hangtime %><br />
    <%= f.text_field :hangtime, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => "btn btn-primary btn-sm" %>
  </div>
<% end %>
