<%= simple_form_for(@punt) do |f| %>
  <% if @punt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@punt.errors.count, "error") %> prohibited this punt from being saved:</h2>

      <ul>
      <% @punt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :date %>
  <%= f.input :distance, label: 'Distance (yards)' %>
  <%= f.input :hangtime, label: 'Hangimte (seconds)' %>
  <%= f.submit 'Submit', :class => "button expand" %>
<% end %>
