<h1>Punts</h1>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <strong>Punt Long:</strong> <%= @punt_long %> yards
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <strong>Punt Average:</strong> <%= @punt_average %> yards
    </div>
  </div>
</div>
<table class="table table-striped table-responsivet table-condensed">
  <tr>
    <th>Date</th>
    <th>Distance</th>
    <th>Hangtime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @punts.each do |punt| %>
  <tr>
    <td><%= punt.date %></td>
    <td><%= punt.distance %></td>
    <td><%= punt.hangtime %></td>
    <td><%= link_to 'Show', punt, :class => "btn btn-default btn-sm"  %></td>
    <td><%= link_to 'Edit', edit_punt_path(punt), :class => "btn btn-default btn-sm"  %></td>
    <td><%= link_to 'Destroy', punt, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-sm"  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Punt', new_punt_path, :class => "btn btn-default btn-sm" %>
