<% provide(:title, kicker_name + " | Kicking Highlights") %>
<div class="row">
  <div class="large-10 medium-10 columns">
    <h1>Kicking <small>Highlights</small></h1>
  </div>
  <div class="large-2 medium-2 columns">
    <% if user_signed_in? %>
    <%= link_to 'New Highlight', new_highlight_path, :class => "button expand" %>
    <% end %>
  </div>
</div>
<div class="row">
<div class="large-12 columns kick-type-select">
  <ul class="inline-list">
    <li><strong>Show:</strong></li>
    <li class="show-all-kicks"><a href="#" data-show="all">All Highlights</a></li>
    <li class="kickoff"><a href="#" data-show="kickoffs">Kickoffs</a></li>
    <li class="fieldgoal"><a href="#" data-show="field-goals">Field Goals</a></li>
    <li class="punt"><a href="#" data-show="punts">Punts</a></li>
  </ul>
</div>
<div class="large-12 columns">
  <ul class="large-block-grid-4 highlights">
  <% @highlights.each do |highlight| %>
    <li class="<%= highlight.kick_type %>">
      <%= link_to image_tag("http://img.youtube.com/vi/#{highlight.link}/0.jpg", :class => "img-responsive"), highlight  %>
      <h3><%= highlight.title %></h3>
      <small><%= l(highlight.date) %> vs. <%= highlight.opponent %></small>
      <p><%= highlight.comments %></p>

      <div class="text-center">
        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_highlight_path(highlight), :class => "button secondary tiny"  %>
        <%= link_to 'Remove', highlight, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button secondary tiny"  %>
      </div>

      <% end %>
    </li>
  <% end %>
  </ul>
</div>
</div>
<% if user_signed_in? %>
<div class="row">
  <div class="large-12 columns">
    <%= link_to 'New Highlight', new_highlight_path, :class => "button secondary" %>
  </div>
</div>
<% end %>
