<div class="row">
  <div class="large-12 columns">
    <h1>Kicking <small>Highlights</small></h1>
  </div>
</div>
<div class="row">
<div class="large-12 columns">
  <ul class="large-block-grid-4">
  <% @highlights.each do |highlight| %>
    <li>
      <%= link_to image_tag("http://img.youtube.com/vi/#{highlight.link}/0.jpg", :class => "img-responsive"), highlight  %>
      <h3><%= highlight.title %></h3>
      <small><%= highlight.date %> vs. <%= highlight.opponent %></small>
      <p><%= highlight.comments %></p>
      <%= link_to 'Show', highlight, :class => "button secondary tiny"  %>
      <%= link_to 'Edit', edit_highlight_path(highlight), :class => "button secondary tiny"  %>
      <%= link_to 'Destroy', highlight, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button secondary tiny"  %>
    </li>
  <% end %>
  </ul>
</div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'New Highlight', new_highlight_path, :class => "btn btn-default btn-sm" %>
  </div>
</div>
