<div class="row">
  <div class="large-6 columns">
    <h1>Kicking <small>Highlights</small></h1>
  </div>
  <div class="large-6 columns text-right">
    <% if user_signed_in? %>
    <%= link_to 'New Highlight', new_highlight_path, :class => "button secondary tiny" %>
    <% end %>
  </div>
</div>
<div class="row">
<div class="large-12 columns">
  <ul class="large-block-grid-4">
  <% @highlights.each do |highlight| %>
    <li>
      <%= link_to image_tag("http://img.youtube.com/vi/#{highlight.link}/0.jpg", :class => "img-responsive"), highlight  %>
      <h3><%= highlight.title %></h3>
      <small><%= l(highlight.date) %> vs. <%= highlight.opponent %></small>
      <p><%= highlight.comments %></p>

      <div class="text-center">
        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_highlight_path(highlight), :class => "button secondary tiny"  %>
        <%= link_to 'Remove', highlight, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button secondary tiny"  %>
      </div>

      <% end %>
    </li>
  <% end %>
  </ul>
</div>
</div>
<% if user_signed_in? %>
<div class="row">
  <div class="large-12 columns">
    <%= link_to 'New Highlight', new_highlight_path, :class => "button secondary" %>
  </div>
</div>
<% end %>
