<p id="notice"><%= notice %></p>
<div class="row">
	<div class="large-6 columns">
		<h1><%= @highlight.title %></h1>
	</div>
	<div class="large-6 columns text-right">
		<%= link_to("Previous", @highlight.previous_highlight, :class => "button secondary tiny") if @highlight.previous_highlight %>
		<%= link_to("Next", @highlight.next_highlight, :class => "button secondary tiny") if @highlight.next_highlight %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
			<div class="flex-video">
				<iframe 
				id="ytplayer" 
				type="text/html" 
				width="1280" 
				height="720" 
				src="https://www.youtube.com/embed/<%= @highlight.link %>?controls=0&rel=0&showinfo=0"
				frameborder="0"
			></iframe>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<p><strong><%= @highlight.comments %></strong><br><%= @highlight.date %> at <%= @highlight.opponent %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<% if user_signed_in? %>
			<%= link_to 'Edit', edit_highlight_path(@highlight), :class => "button secondary"  %>
		<% end %>
		<%= link_to 'Back to Highlights', highlights_path, :class => "button secondary"  %>
	</div>
</div>
