<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Kicking Prospect" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <aside class="left-off-canvas-menu">
          <% if user_signed_in? %>
            <ul class="off-canvas-list">
              <li><label class="first">Quick Add</label></li>
              <li><%= link_to "Add Kickoff", new_kickoff_path %></li>
              <li><%= link_to "Add Field Goal", new_field_goal_path %></li>
              <li><%= link_to "Add PAT", new_point_after_attempt_path %></li>
              <li><%= link_to "Add Punt", new_punt_path %></li>
            </ul>
          <% end %>
          <ul class="off-canvas-list">
            <li><label class="first">Kicker's Name</label></li>
            <li><%= link_to "Home", static_pages_home_path %></li>
            <li><%= link_to "Bio", static_pages_bio_path %></li>
            <li><%= link_to "Highlights", highlights_path %></li>
          </ul>
          <ul class="off-canvas-list">
            <li><label class="first">Stats</label></li>
            <li><%= link_to "Kickoffs", kickoffs_path %></li>
            <li><%= link_to "Field Goals", field_goals_path %></li>
            <li><%= link_to "PAT's", point_after_attempts_path %></li>
            <li><%= link_to "Punts", punts_path %></li>
          </ul>
          <ul class="off-canvas-list">
            <li><label class="first">Action Center</label></li>
            <% if user_signed_in? %>
              <li><%= link_to "Admin", static_pages_admin_path %></li>
              <li><%= link_to "Log Out", logout_path %></li>  
              <% else %>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Register", register_path %></li>
            <% end %>
          </ul>
        </aside>
        <nav class="tab-bar show-for-small">
          <a class="left-off-canvas-toggle menu-icon">
            <span>Kicker&nbsp;Name</span>
          </a>
        </nav>
        <nav class="top-bar hide-for-small" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/">Kicker's Name</a></h1>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="left">
              <li><%= link_to "Home", static_pages_home_path %></li>
              <li><%= link_to "Bio", static_pages_bio_path %></li>
              <li><%= link_to "Highlights", highlights_path %></li>
              <li class="has-dropdown">
                <a href="#">Stats</a>
                <ul class="dropdown">
                  <li><%= link_to "Kickoffs", kickoffs_path %></li>
                  <li><%= link_to "Field Goals", field_goals_path %></li>
                  <li><%= link_to "PAT's", point_after_attempts_path %></li>
                  <li><%= link_to "Punts", punts_path %></li>
                </ul>
              </li>
              <% if user_signed_in? %>
             <li class="has-dropdown">
               <a href="#">Add Kicks</a>
               <ul class="dropdown">
                 <li><%= link_to "Add Kickoff", new_kickoff_path %></li>
                 <li><%= link_to "Add Field Goal", new_field_goal_path %></li>
                 <li><%= link_to "Add PAT", new_point_after_attempt_path %></li>
                 <li><%= link_to "Add Punt", new_punt_path %></li>
               </ul>
             </li>
              <% end %>
            </ul>
            <ul class="right">
              <% if user_signed_in? %>
                <li><%= link_to "Admin", static_pages_admin_path %></li>
                <li><%= link_to "Log Out", logout_path %></li>  
                <% else %>
                <li><%= link_to "Log in", login_path %></li>
                <li><%= link_to "Register", register_path %></li>
              <% end %>
            </ul>
          </section>
        </nav> 
        <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>